# PART I:
# How to install and run Python

The Book [Pyton Crash Course](http://libgen.is/search.php?req=Eric%20Matthes&column[]=author).

[Python Website](https://www.python.org/) 

[Anaconda](https://www.anaconda.com/)

TOC
* Variable and naming
* Reading error messages
* Ints
* Lists

In [ ]:
print('Hello world')
print("Hello world")

Hello world
Hello world

In [ ]:
pt1 = 'Hi, eveyone my name is: '
pt2 = 'Jamal.'
full_string = pt1 + pt2
full_string_f = f'{pt1}{pt2}'
full_string_2 = pt1, pt2

print(full_string)
print(full_string_f)
print(full_string_2)

Hi, eveyone my name is: Jamal.
Hi, eveyone my name is: Jamal.
('Hi, eveyone my name is: ', 'Jamal.')

In [ ]:
message = "Hello Python world!"
print(type(message))
print(message)

<class 'str'>
Hello Python world!

In [ ]:
# Getting errors

message = "Hello Python Crash Course reader!"
print(mesage)

NameError: ignored

In [ ]:
# String func
print(message.capitalize())
print(message.upper())
print(message.lower())
print(message.isupper())
print(message.islower())
print(message.isnumeric())
print(message.isalpha())
print(message.isalnum())
print(message.count("H"))
print(message.find("a"))
print(message.startswith("A"))
print(message.endswith("!"))
print(message.replace("Crash", "Awesome"))
print(message.split())
print(message.partition("Python"))
print(message.rstrip())

Hello python crash course reader!
HELLO PYTHON CRASH COURSE READER!
hello python crash course reader!
False
False
False
False
False
1
15
False
True
Hello Python Awesome Course reader!
['Hello', 'Python', 'Crash', 'Course', 'reader!']
('Hello ', 'Python', ' Crash Course reader!')
Hello Python Crash Course reader!

In [ ]:
message.find?

In [ ]:
9+4
9-4
9*4
9**4
9/4
9//4

2

In [ ]:
0.2+0.1

0.30000000000000004

In [ ]:
print(str(int(14)))

14

In [ ]:
age = 23
message = "Happy " + age + "rd Birthday!"
print(message)

In [ ]:
car_makes = ['Mercedes', 'Toyota', 'Honda', 'Porsche']
print(car_makes[0])
print(car_makes[1])

print(car_makes[-1])

Mercedes
Toyota
Porsche

In [ ]:
# Mutation
car_makes[2] = "Acura"
car_makes.append('Pagani')
print(car_makes)
car_makes.insert(0, 'Aston Martin')
print(car_makes)
del car_makes[0]
print(car_makes)

['Aston Martin', 'Mercedes', 'Acura', 'Acura', 'Porsche', 'Pagani', 'Pagani']
['Aston Martin', 'Aston Martin', 'Mercedes', 'Acura', 'Acura', 'Porsche', 'Pagani', 'Pagani']
['Aston Martin', 'Mercedes', 'Acura', 'Acura', 'Porsche', 'Pagani', 'Pagani']

In [ ]:
out = car_makes.pop() # Pass position as arg
print(out)

Pagani

In [ ]:
car_makes.remove('Acura')
print(car_makes)

['Aston Martin', 'Mercedes', 'Porsche', 'Pagani']

In [ ]:
x = [1, 2, 3]
z = x
y = x.copy()
x[0] = 99
print(x)
print(z)
print(y)

[99, 2, 3]
[1, 2, 3]

In [ ]:
car_makes.sort()

# These two differ!
# cars.sort(reverse=True)
# cars.reverse()

print(car_makes)
sorted(car_makes)

['Aston Martin', 'Mercedes', 'Pagani', 'Porsche']

['Aston Martin', 'Mercedes', 'Pagani', 'Porsche']