# Python for AI
## Week 4 - 4/24/23

## Topics
* Data Structures
  * ~~Lists~~
  * ~~Tuples~~
  * **Dictionaries**
  * **Sets**
* Functions
* Libraries
* OOP

## [Lists]
### 1-1) Chekcing the List
Check whether something is in the list or not with **in** and **not in**.

In [ ]:
lps = ['The Final Cut', 'The Dark Side of the Moon', 'Animals']

# You can change in to not in.
if 'animals' not in lps:
	print('Found.')
else:
	print('Not found.')

Found.

Suppose we want to see if there is a 'Mohsen' in our users list. We can get the input and check it.

In [ ]:
users = ['kambiz', 'shahram', 'abolfazl']
query_user = input('Enter the name: ').lower()

if query_user in users:
	print(f'Found {query_user} in the list.')
else:
	print('Not found.')

Enter the name: kambIz
Found kambiz in the list.

### 1-2) Multiple ifs and elifs

In [ ]:
requested_toppings = ['mushrooms', 'extra cheese']

if 'mushrooms' in requested_toppings:
  print("Adding mushrooms.")
if 'pepperoni' in requested_toppings:
  print("Adding pepperoni.")
if 'extra cheese' in requested_toppings:
  print("Adding extra cheese.")
print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

In [ ]:
requested_toppings = ['mushrooms', 'extra cheese']

if 'mushrooms' in requested_toppings:
  print("Adding mushrooms.")
elif 'pepperoni' in requested_toppings:
  print("Adding pepperoni.")
elif 'extra cheese' in requested_toppings:
  print("Adding extra cheese.")
print("\nFinished making your pizza!")

Adding mushrooms.

Finished making your pizza!

#### Exercise 5-3. (p88)
**Alien Colors #1**: Imagine an alien was just shot down in a game . Create a variable called alien_color and assign it a value of 'green', 'yellow', or 'red'.
* Write an if statement to test whether the alien’s color is green . If it is, print a message that the player just earned 5 points .
* Write one version of this program that passes the if test and another that fails . (The version that fails will have no output .)


---


**Alien Colors #2**: Choose a color for an alien as you did in Exercise 5-3, and write an if-else chain .
* If the alien’s color is green, print a statement that the player just earned 5 points for shooting the alien .
* If the alien’s color isn’t green, print a statement that the player just earned 10 points .
* Write one version of this program that runs the if block and another that runs the else block .

In [ ]:
alien_color = 'red'

if alien_color == 'green':
    print('you earned 5 pts.')
elif not alien_color == 'green':
    print('you earned 1 pts.')

you earned 1 pts.

## {Dictionaries}

Suppose we want to store each country with its respective population. Using two lists for this would be confusing. A dictionary in python is collection of key-value pairs, there is a value for each key. A key can be a number, string, list or even another dictionary.


A key-value pair is a set of values associated with each other. When you provide a key, Python returns the value associated with that key. Every key is connected to its value by a colon, and individual key-value pairs are sepa- rated by commas. You can store as many key-value pairs as you want in a dictionary.

In [ ]:
alien_0 = {'color': 'green'}

In [ ]:
print(alien_0['color'])

green

### Adding to a Dictionary

Dictionaries are dynamic structures, and you can add new key-value pairs to a dictionary at any time. For example, to add a new key-value pair, you would give the name of the dictionary followed by the new key in square brackets along with the new value. You can also start with an empty dictionary.

In [ ]:
alien_0['points'] = 5
alien_0

{'color': 'green', 'points': 5}

In [ ]:
# adding to an empty dictionary.
student_info = {}
student_info['Name'] = 'Danial'
student_info['ID'] = 234212
student_info['Gender'] = 'M'

print(student_info)

{'Name': 'Danial', 'ID': 234212, 'Gender': 'M'}

In [ ]:
# removing a k/v pair
del student_info['Gender']

In [ ]:
print(student_info)

{'Name': 'Danial', 'ID': 234212}

You can use dictionary to store information about one kind of information about many objects. For example favorite programming languages of people.

In [ ]:
# watch out for indents

favorite_languages = {
       'jen': 'scala',
       'sarah': 'lisp',
       'edward': 'fortran',
       'phil': 'julia',
       'andy': 'lisp'
       }

print("Sarah's favorite language is " +
    favorite_languages['sarah'].title() +
    ".")

Sarah's favorite language is Lisp.

### Looping Through a Dictionary

There are several ways to loop through a dictionary. You can use for loop but it would need 2 temporary variables for storing information.

In [ ]:
for key, value in student_info.items():
    print (f'{key} is {value}')

Name is Danial
ID is 234212

In [ ]:
print(type(student_info.items()))
print(student_info.items())

<class 'dict_items'>
dict_items([('Name', 'Danial'), ('ID', 234212)])

In [ ]:
drink = ['Esspresso', 'Double Esspressor', 'Latte', 'Mochiato']

In [ ]:
prices = [35, 50, 70, 80]

In [ ]:
items_of_menu {}

for i, j in zip(drink, prices):
    items_of_menu[i] = j

In [ ]:
# looping through all the keys and all the values

print('Fields')
for field in student_info.keys():
    print(f'Field is {field}')

print('\nVALUES')
for value in student_info.values():
    print(f'Field is {value}')

Fields
Field is Name
Field is ID

VALUES
Field is Danial
Field is 234212

## Sets

In [ ]:
# Value might be redundant, you can use sets to solve this problems.

len(favorite_languages.values())

5

In [ ]:
print(len(set(favorite_languages.values())))
print(set(favorite_languages.values()))

4
{'fortran', 'julia', 'lisp', 'scala'}

In [ ]:
fib = set([1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144])
print(fib)

# adding items is done by add() method
fib.add(233)
print(fib)

{1, 2, 3, 34, 5, 8, 13, 144, 21, 55, 89}
{1, 2, 3, 34, 5, 8, 233, 13, 144, 21, 55, 89}

In [ ]:
# update used when adding more than 1 element

fib.update([377, 610])
print(fib)

{1, 2, 3, 34, 5, 610, 8, 233, 377, 13, 144, 21, 55, 89}

In [ ]:
fib.discard(1)
print(fib)

{2, 3, 34, 5, 610, 8, 233, 377, 13, 144, 21, 55, 89}

In [ ]:
fruits = {'apple', 'banana', 'pineapple'}
for fruit in fruits: 
    print(fruit)

pineapple
apple
banana

### Set Operations
* Union
* intersection
* differences
* symmetrical differences

In [ ]:
# union

a = {1, 2, 3, 5, 7}
b = {2, 4, 6, 8}
print(a|b)
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
print(a&b)
print(a.intersection(b))

{2}
{2}

In [ ]:
print(a-b)
print(a.difference(b))
print(b.difference(a))

{1, 3, 5, 7}
{1, 3, 5, 7}
{8, 4, 6}

In [ ]:
print(a^b)
print(a.symmetric_difference(b))

{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}

In [ ]:
# isdisjoint()	Returns True if two sets have a null intersection
# issubset()	Returns True if another set contains this set
# issuperset()	Returns True if this set contains another set

## Nesting

Sometimes data structures are complex and need to be place in eachother. For example list in list or list in dictionary or list of dictionaries. All of these data types are supported in python.

[{k:v, k:v} {k:v, k:v}]

# Pixel to image example

In [ ]:
student_1 = {'Name': 'Jamshid', 'Major': 'Philosophy', 'Since': 2019}
student_2 = {'Name': 'Fateme', 'Major': 'Psychology', 'Since': 2020}
student_3 = {'Name': 'Javid', 'Major': 'Physiology', 'Since': 2017}

students = [student_1, student_2, student_3]

In [ ]:
type(students)

list

In [ ]:
type(students[0])

dict

In [ ]:
students[1]['Name']

'Fateme'

In [ ]:
for i in students[:2]:
    print(f'{i["Name"]} got in {i["Since"]} to study {i["Major"]}.')

Jamshid got in 2019 to study Philosophy.
Fateme got in 2020 to study Psychology.

### Dictionary of Lists

In [ ]:
coffee = {
    'type': 'speciality',
    'flavors': ['caramel', 'almond', 'orange', 'cocoa']
}

In [ ]:
type(coffee['flavors'])

list

### Dictionary of dictionary

In [ ]:
cities_of_asia = {
    'Guangzhou': {
        'pop': 67_000_000,
        'country': 'China'
    },
    'Mumbai': {
        'pop': 26_000_000,
        'country': 'India'
    },
    'Tokyo': {
        'pop': 40_800_000,
        'country': 'Japan'
    }
}

In [ ]:
cities_of_asia['Mumbai']

{'pop': 26000000, 'country': 'India'}

In [ ]:
cities_of_asia['Mumbai']['pop']

26000000

# This Weeks Exercise

**Pets**: Make several dictionaries, where the name of each dictionary is the name of a pet. In each dictionary, include the kind of animal and the owner’s name . Store these dictionaries in a list called pets. Next, loop through your list and as you do print everything you know about each pet.