# Python for AI
## Week 7 - 5/15/23

## Topics
* ~~Data Structures~~
  * ~~Lists~~
  * ~~Tuples~~
  * ~~Dictionaries~~
  * ~~Sets~~
* ~~Functions~~
  * ~~Arguments~~
  * ~~Returning Values~~
* ~~Libraries~~
  * ~~Modules~~
* ~~Object Oriented Programming in Python~~
* **Numpy**

# Numpy
NumPy, short for Numerical Python, has long been a cornerstone of numerical computing in Python. It provides the data structures, algorithms, and library glue needed for most scientific applications involving numerical data in Python. NumPy contains, among other things:
* A fast and efficient multidimensional array object **ndarray**
* Functions for performing element-wise computations with arrays or mathematical operations between arrays
* Tools for reading and writing array-based datasets to disk
* Linear algebra operations, Fourier transform, and random number generation
* A mature C API to enable Python extensions and native C or C++ code to access NumPy’s data structures and computational facilities.

Beyond the fast array-processing capabilities that NumPy adds to Python, one of
its primary uses in data analysis is as a container for data to be passed between algorithms and libraries. For numerical data, NumPy arrays are more efficient for storing and manipulating data than the other built-in Python data structures. Also, libraries written in a lower-level language, such as C or FORTRAN, can operate on the data stored in a NumPy array without copying data into some other memory representation. Thus, many numerical computing tools for Python either assume NumPy arrays as a primary data structure or else target interoperability with NumPy. Why Numpy is more efficient larger arrays?
* NumPy internally stores data in a contiguous block of memory, independent of
other built-in Python objects. NumPy’s library of algorithms written in the C language can operate on this memory without any type checking or other overhead. NumPy arrays also use much less memory than built-in Python sequences.
* NumPy operations perform complex computations on entire arrays without the
need for Python for loops, which can be slow for large sequences. NumPy is faster than regular Python code because its C-based algorithms avoid overhead present with regular interpreted Python code. (Vectorization)

To get the idea of difference of performance between Python and Numpy we use array of one million integers:

In [ ]:
import numpy as np
my_arr = np.arange(1_000_000)
my_list = list(range(1_000_000))

We use magic function to measure the time
[Magic Functions](https://ipython.readthedocs.io/en/stable/interactive/tutorial.html#magics-explained).

In [ ]:
# Let time multiplying them by 2
%timeit my_arr_double = my_arr * 2

1.36 ms ± 105 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
%timeit my_list_double = [x * 2 for x in my_list]

69.2 ms ± 1.47 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

One of the key features of NumPy is its N-Dimensional array objects, or **ndarray**, which is fast, flexiable container for large dataset in Python. Arrays enable us to perform mathematical operations on whole blocks of data using similar syntax to the equivalent operations between scalar elements.

Let's create a small array and do batch operations.

In [ ]:
data = np.array([[1.5, -0.1, 3],[0, -3, 6.5]])
data

array([[ 1.5, -0.1,  3. ],
       [ 0. , -3. ,  6.5]])

In [ ]:
# You can do any kind of mathematical operations on ndarray.
data * 10

array([[ 15.,  -1.,  30.],
       [  0., -30.,  65.]])

In [ ]:
data + data

array([[ 3. , -0.2,  6. ],
       [ 0. , -6. , 13. ]])

Ndarrays are multidimensional homogeneous container for data, which means all of the elements should be of the same type. Every array has a **shape** property which is a tuple indicating the size of each dimentions and **dtype** that describes data type of array.

In [ ]:
data.shape

(2, 3)

In [ ]:
data.dtype

dtype('float64')

In [ ]:
# array, ndarray and NumPy array are the same.

## Creating ndarrays

The easiest way to create an array is jusing the array functions. This accepts any sequence like objects and produces a new NumPy array containing the passed data. For example we can create using a list.

In [ ]:
grades = [3, 4, 3, 2, 4]
np_arr_grades = np.array(grades)
np_arr_grades

array([3, 4, 3, 2, 4])

In [ ]:
list_of_colors = [[122, 13, 250], [200, 29, 0], [0, 0, 0]]
arr_colors = np.array(list_of_colors)
arr_colors

# What happens when we remove one element?

array([[122,  13, 250],
       [200,  29,   0],
       [  0,   0,   0]])

In [ ]:
# Info about colors array
print(arr_colors.ndim)
print(arr_colors.shape)

2
(3, 3)

In [ ]:
# We don't have to tell the NumPy which data type the array needs.
# NumPy can infer it.

print(np_arr_grades.dtype)
print(arr_colors.dtype)

int64
int64

There are also other ways to create arrays, for instance `numpy.zero` and `numpy.ones` to create arrays of 0s and 1s respectively, with a given length or shape.

In [ ]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
np.ones((10, 2))

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [ ]:
np.ones_like(arr)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]], dtype=float32)

There is also `numpy.arange` function that works like Python range function:

In [ ]:
np.arange(5, 25) # == [range(5, 25)]

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24])

In [ ]:
print(np.full((3, 4), 9))
# Same as
print(np.ones((3, 4)) * 9)
print(((np.full((3, 4), 9)) == (np.ones((3, 4)) * 9)).all())

[[9 9 9 9]
 [9 9 9 9]
 [9 9 9 9]]
[[9. 9. 9. 9.]
 [9. 9. 9. 9.]
 [9. 9. 9. 9.]]
True

Here are all of the functions used to create a list in NumPy
* array: input to ndarray
* asarray: converts input to ndarray
* arange: like the built-in range but returns ndarray
* ones, ones_like: give array of 1s
* zeros, zeros_like: produces a list of zeros
* empty, empty_like: allocates memory, with no value.
* full, full_like: produce an array of the given shape and dtype and set to fill value
* eye, identity: creates NxN identity matrix

## Data Type for ndarrays
The data type or dtype is a special object containing the information that the ndarray need to interpret a chunk of memory as a particular type of data.

In [ ]:
arr_one = np.array([1, 2, 3], dtype=np.float64)
arr_two = np.array([1, 2, 3], dtype=np.int32)
print((arr_one == arr_two).all())
print(np.array_equal(arr_one, arr_two))

True
True

In [ ]:
# some of the NumPy data types

# numpy.bool_,    bool
# numpy.byte,     signed char
# numpy.ubyte,    unsigned char
# numpy.short,    short
# numpy.ushort,   unsigned short
# numpy.intc,     int
# numpy.single,   float
# numpy.double,   double
# numpy.comples,  complex numbers

# more can be found at
# https://numpy.org/doc/stable/user/basics.types.html

We can cast and convert an array from one data type to the other using `np.astype()`

In [ ]:
arr = np.array([1, 2, 3])
print(arr.dtype)
arr = arr.astype('float32')
print(arr.dtype)

int64
float32

In [ ]:
# You can even turn string to float
num_str_arr = np.array(['12', '-43', '138.9'], dtype=np.string_)
num_str_arr.astype(float)

array([ 12. , -43. , 138.9])

## Arithmatic with NumPy Arrays
Arrays are imporant because they enable us to express batch operations on data without writing any kind of loop. NumPy users call this **vectorization**. Any arithmatic operatinos between equal-size arrays apply the operation element-wise.

In [ ]:
arr = np.array([[1., 2., 3.], [4., 5., 6.]])
arr

array([[1., 2., 3.],
       [4., 5., 6.]])

In [ ]:
arr * arr

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

In [ ]:
arr - arr

array([[0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
1 / arr

array([[1.        , 0.5       , 0.33333333],
       [0.25      , 0.2       , 0.16666667]])

In [ ]:
arr ** 2

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

In [ ]:
# and you can compare
arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])
arr2

array([[ 0.,  4.,  1.],
       [ 7.,  2., 12.]])

In [ ]:
arr2 > arr

array([[False,  True, False],
       [ True, False,  True]])

Evaluating operations between differently sized arrays is called broadcasting.

## Basic Indexing and Slicing
NumPy array indexing is a deep topic, as there are many ways you may want to select a subset of your data or individual elements. In the case of one dimentional array we can act just like normal vanilla python.

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])
arr[5]

6

In [ ]:
arr[4:]

array([5, 6, 7])

In [ ]:
#What is
arr[4:] = 0

# This is a good example of broadcasting.

In [ ]:
slice_arr = arr[4:]
slice_arr[0] = 99999

Bottom line is NumPy always perfers to not copy data because of performance reasons. If you want to copy the data you can add `.copy()` to the end of views. With higher dimensional arrays, you have many more options. In a two-dimensional array, the elements at each index are no longer scalars but rather one-dimensional arrays:

In [ ]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr2d[2]

array([7, 8, 9])

In [ ]:
arr2d[0][2]

3

In [ ]:
# Also for easier acces you can pass a comma-seperated list of indices.
arr2d[0, 2]

3

### P94 Book and Example of dimentionality reduction

In [ ]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [ ]:
arr3d.shape

(2, 2, 3)

In [ ]:
arr3d[0].shape

(2, 3)

In [ ]:
print(arr3d)
save_val = arr3d[0].copy()
arr3d[0] = 999
print(arr3d)
arr3d[0] = save_val

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]
[[[999 999 999]
  [999 999 999]]

 [[  7   8   9]
  [ 10  11  12]]]

## Slicing
Like one-dimentinoal object such as Python lists, ndarrays can be sliced with the familiar syntax. However, slicing 2d objects is a bit different.

In [ ]:
arr2d.ndim

2

In [ ]:
arr2d[:2]

# Select the first two rows of arr2d.

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
# You can do multiple indexes
arr2d[:2, 1:]

array([[2, 3],
       [5, 6]])

In [ ]:
# Or you can select.
arr2d[1, :2]

array([4, 5])

In [ ]:
arr2d[:, :1]

array([[1],
       [4],
       [7]])

### Boolean Indexing

Let consider using strings and indexing them.

In [ ]:
names = np.array(["Bob", "Joe", "Will", "Bob", "Will", "Joe", "Joe"])
data = np.array([[4, 7], [0, 2], [-5, 6], [0, 0], [1, 2], [-12, -4], [3, 4]])
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [ ]:
data

array([[  4,   7],
       [  0,   2],
       [ -5,   6],
       [  0,   0],
       [  1,   2],
       [-12,  -4],
       [  3,   4]])

In [ ]:
# Now we want to get all. rows corresponding name Bob
names == "Bob"

array([ True, False, False,  True, False, False, False])

In [ ]:
# So we can index Bobs
data[names == "Bob"]

array([[4, 7],
       [0, 0]])

Boolean array **must be of the same length** as the array axis it's indexing. you can even mix and match Boolean arrays with slices or integers.

In [ ]:
data[names == "Bob", 1:]

array([[7],
       [0]])

In [ ]:
data[names == "Bob", 1]

array([7, 0])

In [ ]:
# You can reverse the selection by using != or ~
~(names == "Bob")

array([False,  True,  True, False,  True,  True,  True])

In [ ]:
data[~(names == "Bob")]

array([[  0,   2],
       [ -5,   6],
       [  1,   2],
       [-12,  -4],
       [  3,   4]])

In [ ]:
# You can pass the condition to a variable and reuse it or even reverse it.
cond = names == "Bob"
data[~cond]

array([[  0,   2],
       [ -5,   6],
       [  1,   2],
       [-12,  -4],
       [  3,   4]])

We can use boolean arithmetic operations like & (and) and | (or) to mix conditions.

In [ ]:
mask = (names=='Bob')|(names=='Will')
print(mask)
print(data[mask])

[ True False  True  True  True False False]
[[ 4  7]
 [-5  6]
 [ 0  0]
 [ 1  2]]

You can substitude a value on the righthand side into tht locations where the boolean array's values are True. To set all of the negative values in data to 0, we can...

In [ ]:
print(data, end='\n\n#########\n\n')
data[data < 0] = 0
print(data)

[[4 7]
 [0 2]
 [0 6]
 [0 0]
 [1 2]
 [0 0]
 [3 4]]

#########

[[4 7]
 [0 2]
 [0 6]
 [0 0]
 [1 2]
 [0 0]
 [3 4]]

In [ ]:
arr = np.zeros((8, 4))

for i in range(8):
    arr[i] = i

In [ ]:
# We can select subset of the rows in a particular order, for this we need to
# pass a list or ndarray of ints. Or we can use negative indices.

arr[[3, -1, 5, 2]]

array([[3., 3., 3., 3.],
       [7., 7., 7., 7.],
       [5., 5., 5., 5.],
       [2., 2., 2., 2.]])

In [ ]:
# We can also pass multiplle index arrays like tuple of indices.
arr = np.arange(32).reshape((8, 4))
arr[[1, 5, 7, 2], [0, 3, 1, 2]]

array([ 4, 23, 29, 10])

In [ ]:
# Special
arr[[1, 5, 7, 2]][:, [1, 3, 0, 2]]

array([[ 5,  7,  4,  6],
       [21, 23, 20, 22],
       [29, 31, 28, 30],
       [ 9, 11,  8, 10]])

So we have *[index of rows][select everything [get x]]*

Keep in mind that fancy indexing always copies the data.

## Transposing Arrays and swapping Axes
Transposing is a special kind of reshaping that similarly returns a view on the underlying data without copying anything. One the most popular methods is T attribute.

In [ ]:
arr = np.arange(15).reshape((3, 5))
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [ ]:
arr.T

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [ ]:
# We use this all the time in dot product.
arr = np.array([[0, 1, 0], [1, 2, -2], [6, 3, 2], [-1, 0, -1], [1, 0, 1]])
arr

array([[ 0,  1,  0],
       [ 1,  2, -2],
       [ 6,  3,  2],
       [-1,  0, -1],
       [ 1,  0,  1]])

In [ ]:
print(arr.shape)
print(arr.T.shape)

(5, 3)
(3, 5)

In [ ]:
np.dot(arr.T, arr)

array([[39, 20, 12],
       [20, 14,  2],
       [12,  2, 10]])

In [ ]:
# We can also do matrix multiplication with @
arr.T @ arr

array([[39, 20, 12],
       [20, 14,  2],
       [12,  2, 10]])

## Creating Pseudorandom Numbers
The numpy.random module supplements the built-in Python random module, for example we can get a 4x4 array out of standard normal distribution with:

In [ ]:
samples = np.random.standard_normal(size=(4, 4))

In [ ]:
samples

array([[-0.99117968, -1.84954363,  1.72104702,  0.8438536 ],
       [ 1.27983502, -0.67919147, -0.02471741,  1.54922714],
       [-0.41765419,  1.34536319, -1.0199343 ,  1.12060146],
       [ 0.32180836, -0.5008344 ,  0.30375415,  2.43906116]])

Random number are not truly random but are pseudorandom which are generated by a configurable random nnumber generator that determines deterministically what values are created. Functions like numpy.random.standard_normal use default seed but you can pass you own seed.

In [ ]:
rng = np.random.default_rng(seed=12345)

In [ ]:
rng.standard_normal((2, 3))

array([[-1.42382504,  1.26372846, -0.87066174],
       [-0.25917323, -0.07534331, -0.74088465]])

**Random number generators**:
permutation, shuffle, uniform, integers, standard_normal, binomial, normal, beta, chisquare, gamma, uniform

## Ufuncs
A universal function, or ufunc, is a function that performs element-wise operations on data in ndarrays. You can think of them as fast vectorized wrappers for simple functions that take one or more scalar values and produce one or more scalar results.

In [ ]:
arr = np.arange(20)
print(arr)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [ ]:
print(np.sqrt(arr))

[0.         1.         1.41421356 1.73205081 2.         2.23606798
 2.44948974 2.64575131 2.82842712 3.         3.16227766 3.31662479
 3.46410162 3.60555128 3.74165739 3.87298335 4.         4.12310563
 4.24264069 4.35889894]

In [ ]:
print(np.exp(arr))

[1.00000000e+00 2.71828183e+00 7.38905610e+00 2.00855369e+01
 5.45981500e+01 1.48413159e+02 4.03428793e+02 1.09663316e+03
 2.98095799e+03 8.10308393e+03 2.20264658e+04 5.98741417e+04
 1.62754791e+05 4.42413392e+05 1.20260428e+06 3.26901737e+06
 8.88611052e+06 2.41549528e+07 6.56599691e+07 1.78482301e+08]

These are called unary ufuncs because they take only a single array as opposed to np.add getting two arrays.

In [ ]:
y = rng.standard_normal(8)
print(y)

[ 0.90291934 -1.62158273 -0.15818926  0.44948393 -1.34360107 -0.08168759
  1.72473993  2.61815943]

In [ ]:
x = rng.standard_normal(8)
print(x)

[ 0.77736134  0.8286332  -0.95898831 -1.20938829 -1.41229201  0.54154683
  0.7519394  -0.65876032]

In [ ]:
np.maximum(x, y)

array([ 0.90291934,  0.8286332 , -0.15818926,  0.44948393, -1.34360107,
        0.54154683,  1.72473993,  2.61815943])

In [ ]:
# We can pass out argument to these ufuncs which is optional to assign them
# into an existing array rather than create a new one.
out = np.zeros_like(arr)
np.add(arr, 2, out=out)
out

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21])

## There is a list of ufuncs in P107

## Array Oriented Programming with Arrays
Using NumPy arrays enables you to express many kinds of data processing tasks as concise array expressions that might otherwise require writing loops. This practice of replacing explicit loops with array expressions is referred to by some people as vectorization. In general, vectorized array operations will usually be significantly faster than their pure Python equivalents, with the biggest impact in any kind of numerical computations.

As a simple example, suppose we wished to evaluate the function sqrt(x^2 + y^2) across a regular grid of values. The numpy.meshgrid function takes two one-dimensional arrays and produces two two-dimensional matrices corresponding to all pairs of (x, y) in the two arrays

In [ ]:
points = np.arange(-5, 5, 0.01) #100 elements from -5 to 5
xs, ys = np.meshgrid(points, points)

In [ ]:
ys.shape

(1000, 1000)

In [ ]:
ys

array([[-5.  , -5.  , -5.  , ..., -5.  , -5.  , -5.  ],
       [-4.99, -4.99, -4.99, ..., -4.99, -4.99, -4.99],
       [-4.98, -4.98, -4.98, ..., -4.98, -4.98, -4.98],
       ...,
       [ 4.97,  4.97,  4.97, ...,  4.97,  4.97,  4.97],
       [ 4.98,  4.98,  4.98, ...,  4.98,  4.98,  4.98],
       [ 4.99,  4.99,  4.99, ...,  4.99,  4.99,  4.99]])

In [ ]:
# Creating the function
z = np.sqrt(xs ** 2 +ys ** 2)

In [ ]:
z

array([[7.07106781, 7.06400028, 7.05693985, ..., 7.04988652, 7.05693985,
        7.06400028],
       [7.06400028, 7.05692568, 7.04985815, ..., 7.04279774, 7.04985815,
        7.05692568],
       [7.05693985, 7.04985815, 7.04278354, ..., 7.03571603, 7.04278354,
        7.04985815],
       ...,
       [7.04988652, 7.04279774, 7.03571603, ..., 7.0286414 , 7.03571603,
        7.04279774],
       [7.05693985, 7.04985815, 7.04278354, ..., 7.03571603, 7.04278354,
        7.04985815],
       [7.06400028, 7.05692568, 7.04985815, ..., 7.04279774, 7.04985815,
        7.05692568]])

In [ ]:
# We can get values from multiple arrays with where method
xarr = np.array([1.1, 1.2, 1.3, 1.4, 1.5])
yarr = np.array([2.1, 2.2, 2.3, 2.4, 2.5])
cond = np.array([True, False, True, True, False])

In [ ]:
res = np.where(cond, xarr, yarr)

In [ ]:
res

array([1.1, 2.2, 1.3, 1.4, 2.5])

In [ ]:
# We can use scaler as a filler instead of 2 arrays.

arr = rng.standard_normal((4, 4))
arr > 0

array([[False,  True,  True, False],
       [ True, False, False, False],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

In [ ]:
np.where(arr > 0, 2, -2)

array([[-2,  2,  2, -2],
       [ 2, -2, -2, -2],
       [ 2,  2,  2,  2],
       [ 2,  2,  2,  2]])

# Mathematical methods

We can use methods like sum, mean, and std either by calling them on the array or by using top level numpy functions.

In [ ]:
arr

array([[-1.22867499,  0.25755777,  0.31290292, -0.13081169],
       [ 1.26998312, -0.09296246, -0.06615089, -1.10821447],
       [ 0.13595685,  1.34707776,  0.06114402,  0.0709146 ],
       [ 0.43365454,  0.27748366,  0.53025239,  0.53672097]])

In [ ]:
print(arr.mean())
print(arr.sum())

0.16292713165061673
2.6068341064098677

We can pass axis that computes the statistic over the given axis, it can be 1, column-wise or 0, row-wise.

In [ ]:
arr.sum(axis=0)

array([ 0.61091952,  1.78915673,  0.83814844, -0.63139059])

In [ ]:
# Other methods like comsum and comprod do not aggregate,
# instead producing an array of the intermediate results
c_arr = np.arange(8)
c_arr.cumsum()

array([ 0,  1,  3,  6, 10, 15, 21, 28])

In [ ]:
# Or we can use axis to do cumsum on columns, in multidimentional arrays

c2_arr = np.arange(9).reshape(3, 3)
c2_arr.cumsum(axis=0)

array([[ 0,  1,  2],
       [ 3,  5,  7],
       [ 9, 12, 15]])

In [ ]:
# We can use .sort to sort the data
mix_arr = rng.standard_normal(6)
mix_arr

array([ 0.68828179, -1.15452958,  0.65045239, -1.38835995, -0.90738246,
       -1.09542531])

In [ ]:
mix_arr.sort()
mix_arr

array([-1.38835995, -1.15452958, -1.09542531, -0.90738246,  0.65045239,
        0.68828179])

In [ ]:
# We can use unique to get the unique values in an array
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

In [ ]:
# We use numpy save and load to efficiently save and
# load arrays to a disk. With file extention of .npy.
# also savez can save multiple files.
np.save("first_array", arr)
#...
z = np.load('first_array')

Linear algebra operations, like matrix multiplication, decompositions, determinants, and other square matrix math, are an important part of many array libraries. Multiplying two two-dimensional arrays with * is an element-wise product, while matrix multiplications require using a function. Thus, there is a function dot, both an array method and a function in the numpy namespace, for matrix multiplication.

In [ ]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])

In [ ]:
x

array([[1., 2., 3.],
       [4., 5., 6.]])

In [ ]:
y

array([[ 6., 23.],
       [-1.,  7.],
       [ 8.,  9.]])

In [ ]:
x.dot(y)

array([[ 28.,  64.],
       [ 67., 181.]])

In [ ]:
# or
np.dot(x, y)

array([[ 28.,  64.],
       [ 67., 181.]])

In [ ]:
x @ np.ones(3)

array([ 6., 15.])

In [ ]:
# We can use numpy.linalg to do things like inverse and determinant
from numpy.linalg import inv, qr
X = rng.standard_normal((5, 5))
mat = X.T @ X
mat

array([[ 1.88314727,  0.70807782, -1.13747307,  1.17885663,  2.8409201 ],
       [ 0.70807782,  2.77407479, -0.46485548, -0.79771956,  3.35838375],
       [-1.13747307, -0.46485548,  0.96971355,  0.46801734, -0.91059321],
       [ 1.17885663, -0.79771956,  0.46801734,  8.18064516,  5.3865838 ],
       [ 2.8409201 ,  3.35838375, -0.91059321,  5.3865838 ,  9.72137582]])

In [ ]:
inv(mat)

array([[ 27.12807051,  26.95881277,  17.46513187,  12.588576  ,
        -22.58039526],
       [ 26.95881277,  39.01766853,  11.30935906,  19.89802718,
        -31.32358093],
       [ 17.46513187,  11.30935906,  15.65825128,   4.18438755,
         -9.86274684],
       [ 12.588576  ,  19.89802718,   4.18438755,  10.54804433,
        -16.00555337],
       [-22.58039526, -31.32358093,  -9.86274684, -16.00555337,
         25.46758942]])

In [ ]:
mat @ inv(mat)

array([[ 1.00000000e+00,  2.52877317e-14,  9.70870706e-16,
         1.63262779e-14, -5.16643488e-14],
       [-6.30502395e-15,  1.00000000e+00, -6.66337768e-15,
        -2.41208196e-14,  2.20299717e-14],
       [-7.88776910e-15,  2.73226196e-14,  1.00000000e+00,
         1.67174408e-15,  5.78261984e-15],
       [ 1.32092750e-14,  2.38805980e-14, -2.90339295e-15,
         1.00000000e+00, -3.68403770e-14],
       [ 6.99875483e-14, -4.33504926e-15, -6.36623028e-15,
         3.68440683e-15,  1.00000000e+00]])

# Final Exercise
Write a code that has two identical sized one dimentional arrays one for weights and other for grades.
1. Cut everything under 10
2. Get the GPA
3. Standardize